img:first-child
{
	position:relative;
	top:0px;
	left:50px;
}

img:nth-child(2)
{
	position:relative;
	top:-311px;
	left:-401px;
	visibility: visible;
}
.draggable:hover
{
	cursor:move;
}